{% extends "board/base.html" %}

{% load static %}
{% load datetime_display %}


{% block content %}
{% csrf_token %}

<h1 class="" data-activity="{{ specified_activity.id }}" data-activity-live="{{ specified_activity.live_datetime|date:'c' }}" data-activity-end="{{ specified_activity.end_datetime|date:'c' }}">
  Roster for <time datetime="{{ specified_date|date:'c' }}">{{ specified_date|date:'l, F d, Y' }}</time>
</h1>

<a href="{% url 'register' specified_activity.slug specified_date|date:'Y-m-d' %}" class="button is-link">
  Register
</a>

<div class="columns mt-2 instructions hide" data-instructions="activity">
  <div class="column is-half">
    <div class="box">
      <h2>Instructions</h2>
      <p>
        <b>Here you can view times that other have registered interest in starting at.</b>
        Names are listed by time of sign-up for each starting point.
      </p>
      <p>
        All times are displayed in your local timezone, according to your browser. 
        On desktop, you can verify UTC time by hovering your cursor over a displayed time.
      </p>
      <h3>Tags</h3>
      <p>Toggle the tag checkboxes to highlight others that have chosen the desired tag.</p>
      <button class="button close-help mt-2 is-danger is-outlined">Close</button>
    </div>
  </div>
</div>

<hr>

<div class="is-flex is-justify-content-space-between">
  <div class="">
    {% if specified_date|date:'Y-m-d' != specified_activity.live_datetime|date:'Y-m-d'  %}
      <a href="{% url 'activity' specified_activity.slug specified_date|prevDay|date:'Y-m-d' %}" class="button is-info is-outlined">< {{ specified_date|prevDay|date:'Y-m-d' }}</a>
    {% endif %}
  </div>
  <div class="">
    {% now 'Y-m-d' as actual_today %}
    {% if specified_date|date:'Y-m-d' > specified_activity.live_datetime|date:'Y-m-d'  %}
    
      {% if actual_today < specified_activity.live_datetime|date:'Y-m-d' %}
      <a href="{% url 'activity' specified_activity.slug %}" class="button is-info is-outlined">Start Date</a>
      {% else %}
      <a href="{% url 'activity' specified_activity.slug %}" class="button is-info is-outlined today">Today</a>
      {% endif %}
    </a>
    {% endif %}
  </div>
  <div class="">
    <a href="{% url 'activity' specified_activity.slug specified_date|nextDay|date:'Y-m-d' %}" class="button is-info is-outlined">{{ specified_date|nextDay|date:'Y-m-d'}} ></a>
  </div>
</div>


<hr>
<div id="tag-filter-controls">
{% for tag in all_tags %}
  <label class="checkbox" title="{{ tag.description }}">
    <input type="checkbox" value="{{ tag.slug }}" class="tag-toggle" autocomplete="off">
    {{ tag.name }}
  </label>
{% endfor %}
</div>
<hr>

<div class="columns">
  <div id="hour-list" class="column">
  </div>
</div>



<template id="hour-list-item-template">
  <div class="hour-list-item">
    <div class="hour-list-title">
      <h2 class=""></h2>
    </div>
    
    <ol>

    </ol>
  </div>
</template>

{% endblock content %}

{% block js %}
<script src="{% static 'js/activity.js' %}"></script>
{% endblock js %}
