{% extends "board/base.html" %}

{% load static %}
{% load datetime_display %}

{% block content %}
{% csrf_token %}


<h1 class="" data-platform="{{ specified_platform.id }}" data-activity="{{ specified_activity.id }}" data-activity-live="{{ specified_activity.live_datetime|date:'c' }}">
  Registration for <time datetime="{{ specified_date|date:'c' }}">{{ specified_date|date:'l, F d, Y' }}</time>
</h1>
<h2 class="">
  {{ specified_activity.name }} on 
  {% with 'board/images/'|add:specified_platform.logo as logo %}
  <img src="{% static logo %}">
  {% endwith %}
  {{ specified_platform.name }}
</h2>

<a href="{% url 'activity' specified_activity.slug specified_platform.slug specified_date|date:'Y-m-d' %}" class="button is-link">
  View Roster
</a>

<div class="columns mt-2 instructions hide" data-instructions="register">
  <div class="column is-half">
    <div class="box">
      <h2>Instructions</h2>
      <p><b>Select the times you are available to start at.</b> All times are displayed in your local timezone, according to your browser. On desktop, you can verify UTC time by hovering your cursor over a displayed time.</p>
      <p>De-selecting a time will remove you from that time block. If you select it again, you will be put at the end of the list.</p>
      <h3>Tags</h3>
      <p>Tags help signal your preferences to others. They will be displayed next to your username on all times you register for. Feel free to toggle them on and off as needed at any time.</p>
      <button class="button close-help mt-2 is-danger is-outlined">Close</button>
    </div>
  </div>
</div>

<hr>

<div class="is-flex is-justify-content-space-between">
  <div class=>
    {% if specified_date|date:'Y-m-d' != specified_activity.live_datetime|date:'Y-m-d'  %}
      <a href="{% url 'register' specified_activity.slug specified_platform.slug specified_date|prevDay|date:'Y-m-d' %}" class="button is-info is-outlined">< {{ specified_date|prevDay|date:'Y-m-d' }}</a>
    {% endif %}
  </div>
  <div class="">
    {% now 'Y-m-d' as actual_today %}
    {% if specified_date|date:'Y-m-d' > specified_activity.live_datetime|date:'Y-m-d'  %}
    <a href="{% url 'register' specified_activity.slug specified_platform.slug %}" class="button is-info is-outlined">
      {% if actual_today < specified_activity.live_datetime|date:'Y-m-d' %}
      Start Date
      {% else %}
      Today
      {% endif %}
    </a>
    {% endif %}
  </div>
  <div class="">
    <a href="{% url 'register' specified_activity.slug specified_platform.slug specified_date|nextDay|date:'Y-m-d' %}" class="button is-info is-outlined">{{ specified_date|nextDay|date:'Y-m-d'}} ></a>
  </div>
</div>
<hr>

<div class="columns is-mobile">
  <div class="column">
    <div id="register-container">

    </div>
  </div>
  <div class="column">
    <div class="user-info">
      <h3 class="mb-3">Tags</h3>
      <div id="user-tag-control">
        {% for tag in all_tags %}
        <label class="checkbox">
          <input type="checkbox" value="{{ tag.id }}" title="{{ tag.description }}">
          <b>{{ tag.name }}</b> <span>{{ tag.description }}</span>
        </label>

        {% endfor %}
      </div>

    </div>
  </div>
</div>

<template id="hour-block-template">
  <div class="hour-block">
    <div class="hour-input">
      
      <label for=""></label>
      <input type="checkbox" id="" class="">
    </div>
  </div>
</template>
{% endblock content %}

{% block js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock js %}
